<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        アウトプット詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
   <div class="container">
      <div class="columns is-centered">
        <div class="column is-7">
           <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4"><%= @post.title %></p>
                  </div>
               </div>
               <div class="content">
                  <table class="table is-narrow">
                    <tr>
                      <th>アクションプラン</th>
                    </tr>
                    <tr>
                      <td><%= simple_format @post.body %></td>
                    </tr>
                  </table>

                  <table class="table is-narrow-2">
                    <tr>
                      <th>感想</th>
                    </tr>
                    <tr>
                      <td><%= simple_format @post.impression %></td>
                    </tr>
                  </table>
                  <% if @post.user.id == current_user.id %>
                    <%= link_to "編集", edit_post_path(@post), class: "button is-success" %>
                  <% end %>
                </div>
             </div>
          </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            <%= @post.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @post.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@post.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @post.user.username %> さんのページへ
          <% end %>
        </article>
      </div>
  </div>
</section>

<div class="contents row">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <% if user_signed_in? %>
          <%= form_with(model: [@post, @comment], local: true) do |form| %>
            <div class="field">
              <%# <%= form.text_area :content, placeholder: "コメントする", class: "textarea" %> 
              <%= form.text_area :content, class: "form-control",class: "textarea" ,rows: 3 %>
                <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
                  <i class="far fa-comments"></i> コメントする
                <% end %>
              <% end %>
            </div>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
        <div class="comments">
          <h4>＜コメント一覧＞</h4>
            <% @comments.each do |comment| %>
            
              <% unless comment.id.nil? %>
                <li class="comment-container">
                    <div class="comment-box">
                        <div class="comment-avatar">
                            <%= attachment_image_tag comment.user, :profile_image, fallback: "no_image.jpg", class:"comment-image", size: "40x40" %>
                        </div>
                        <div class="comment-text">
                            <p><%= link_to "@#{comment.user.username}", users_path(comment.user.id) %></p>
                            <div class="comment-entry">
                                <%= comment.content %>
                                <% if comment.user == current_user %>
                                    <%= link_to post_comment_path(comment.post.id, comment.id), method: :delete, class: "comment_destroy" do %>
                                        <i class="fas fa-trash" style="color: black;"></i>
                                    <% end %>
                                <% end %>
                            </div>
                            <span class="comment-date pull-right">
                                  <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                            </span>
                        </div>
                    </div>
                </li>
              <% end %>
            <% end %>
        </div>
    </div>
   </p>
 </div>
</div>
